.iconWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.emojiTextarea {
    border-color: var(--websitebutton);
}


.copyIcon {
    font-size: x-large;
    transition: transform 0.05s;
}

.copyIcon:active {
    transform: scale(0.9);
    /* font-size: large; */
}

.revertButton {
    font-size: medium;
    width: 170px;
    height: min-content;
    white-space: nowrap;
    border-radius: 15px;
    border: 0;
    text-align: center;
}

.emojiButton {
    font-size: medium;
    height: min-content;
    /* width: height; */
    white-space: nowrap;
    border-radius: 50px;
    text-align: center;
}

.emojiPicker {
    height: min-content;
    width: min-content;
    /* display: absolute !important;
    top: 10px !important;
    left: 20px !important; */
}

.toolBar {
    margin-top: 10px;
}