.HRoot {
    width: 100%;
    height: min-content;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.Header {
    width: 100%;
    height: 70px;
    padding: 3px 25px;
    justify-content: space-between;
    display: flex;
    gap: auto;
    background-color: var(--absolutewhite);
    box-shadow: inset 0px 2px 0px var(--websitename), inset 0px -2px 0px var(--websitename);
}

/* Adjust height for screens smaller than 600px */
@media (max-width: 600px) {
    .Header {
        height: 40px;
        padding: 3px 9px;
    }
}

.HeaderLeft {
    /* width: min-content; */
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}

.HeaderLeftButton {
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.AppLogo {
    height: 100%;
}

.AppLogoImg {
    max-height: 100%;
    object-fit: contain;
}

.AppName {
    height: 100%;
}

.AppNameImg {
    height: 100%;
    object-fit: contain;
}

.draftWrapper {
    gap: 10px;
    display: flex;
    height: 100%;
    border: 0;
}


.draftIcon {
    font-size: x-large;
    height: fit-content;
}


.draftLetterWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.draftLetter {
    font-size: medium;
    white-space: nowrap;
    width: 100px;
}

.userIconWrap {
    padding: 2px;
    border-radius: 45px;
    outline: none;
}

/* .userIconWrap:active {
  padding: 2px;
  border-radius: 45px;
  border-color: var(--websitelight-background);
} */

.userIconImg {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 46px;
    outline: 1px solid var(--grey-35);
    outline-offset: 3px;
}

.dropdownMenu {
    margin-top: 5px;
    padding: 10px;
    /* transform: translate3d(0px, 65px, 0px); */
}

.dropdownItem {
    width: 160px;
}

.dropdownItem:hover {
    background-color: transparent;
}

.dropdownHeader {
    padding: 0px 5px;
}

.HeaderRightButton {
    width: min-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.signinButton {
    width: min-content;
    white-space: nowrap;
    flex-direction: column;
    font-size: 15px;
    border-radius: 20px;
}


.signupButton {
    font-size: 15px;
    width: 120px;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 0px #00000030;
}

.modalDialogCus {
    justify-content: center;
}


.modalHeaderCus {
    border-bottom-width: 0px;
}

.modalContentCus {
    max-width: fit-content;
    background-color: var(--websitelight-background);
}

.signInCard {
    padding: 20px 10px 0px 10px;
}

.SpaceHolder {
    height: 70px;
}