.HRoot {
    width: 100%;
    height: min-content;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.Header {
    width: 100%;
    height: 70px;
    padding: 3px 25px;
    justify-content: space-between;
    display: flex;
    gap: auto;
    background-color: var(--absolutewhite);
    box-shadow: inset 0px 2px 0px var(--websitename), inset 0px -2px 0px var(--websitename);
}

/* Adjust height for screens smaller than 600px */
@media (max-width: 600px) {
    .Header {
        height: 40px;
        padding: 3px 9px;
    }
}

.modalHeaderTitle {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.TitleLetter {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
}

.OLetter {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.HeaderLeft {
    height: 100%;
    display: flex;
    gap: 20px;
}

.HeaderLeftButton {
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.AppLogo {
    height: 100%;
}

.AppLogoImg {
    max-height: 100%;
    object-fit: contain;
}

.AppName {
    height: 100%;
}

.AppNameImg {
    height: 100%;
    object-fit: contain;
}

.draftWrapper {
    gap: 10px;
    display: flex;
    height: 100%;
    border: 0;
}


.infoIcon {
    font-size: xx-large;
    height: fit-content;
    color: var(--websitehighlight)
}


.draftLetterWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}


/* .userIconWrap:active {
  padding: 2px;
  border-radius: 45px;
  border-color: var(--websitelight-background);
} */

.HeaderRightButton {
    width: min-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.SpaceHolder {
    height: 70px;
}

.disclaimer {
    font-size: smaller;
    color: var(--grey-35)
}