.pageRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.header {
    width: 100%;
    padding: 0 20px;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconImg {
    object-fit: cover;
    color: var(--websitename);
}

.TitleLetter {
    font-family: "PT Sans", sans-serif;
    letter-spacing: 3px;
    font-weight: light;
}

.OLetter {
    font-family: "Poppins", sans-serif;
}


.titleLetter {
    font-size: x-large;
}

.secondLine {
    margin-top: 10px;
    margin-left: 30px;
}

.highlightLetter {
    color: var(--websitehighlight);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.webLink {
    text-decoration: underline;
}

.imageContainer {
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    max-width: 100%;
    /* Optional: Adjust the maximum width of the image container */
}

.image {
    max-width: 70%;
    /* Ensure the image doesn't exceed the container */
    height: auto;
    /* Maintain aspect ratio */
}